.wrapper {
    margin: 180px 0;
}

.wrapper h2 {
    font: 700 60px 'Montserrat';
    text-align: center;
    margin-bottom: 60px;
    color: #FFFFFF;
}

.wrapper .container {
    display: flex;
    justify-content: space-between;
}

.wrapper .item {
    background: #2B2A2D;
    border-radius: 24px;
    width: 410px;
    height: 338px;
    padding: 40px;
}

.item .item-image1 {
    background-image: url(./assets/icon-1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
}

.item .item-image2 {
    background-image: url(./assets/icon-2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
}

.item .item-image3 {
    background-image: url(./assets/icon-3.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
}

.item h3 {
    font: 700 26px 'Montserrat';
    color: #FFFFFF;
    margin-top: 36px;
    margin-bottom: 24px;
}

.item p {
    font: 400 18px 'Montserrat';
    color: #CDCCCF;
    line-height: 32px;
    letter-spacing: -0.01em;
}

.item .item-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-logo .btn {
    font: 700 16px 'Montserrat';
    color: #FFFFFF;
    background: linear-gradient(246.65deg, #FAAB2B -55.2%, #DF5820 81.62%);
    border-radius: 8px;
    padding: 7px 12px;
    margin-top: 10px;
    cursor: pointer;
}