.image {
    background-image: url(./assets/hero-image.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 705px;
    height: 800px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.preview-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 495px;
    height: 650px;
    margin: auto auto 0;
}

.preview-information .logo {
    background-image: url(./assets/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 223px;
    height: 76px;
    margin-bottom: 50px;
}

.preview-information h1 {
    font-size: 80px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.preview-information p {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.01em;
    color: #CDCCCF;
}

.preview-information .market {
    display: flex;
    margin-top: 60px;
}

.market .google-play {
    background-image: url(./assets/button_2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 191px;
    height: 60px;
    margin-right: 16px;
}

.market .app-store {
    background-image: url(./assets/button_1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 191px;
    height: 60px;
}

.explore {
    display: flex;
    align-items: center;
}

.explore p {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 32px;
    letter-spacing: -0.01em;
    margin-right: 10px;
}

.explore div {
    background-image: url(./assets/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 12px;
}