.wrapper {
  background: #2B2A2D;
  position: absolute;
  left: 0;
  width: 100%;
}

.wrapper-wdth {
  width: 1220px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  text-align: left;
}

.logo {
  background-image: url(./assets/logo.svg);
  background-color: #2b2a2d;
  width: 182px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.wrapper nav {
  display: flex;
}

.wrapper nav p {
  font: 400 16px "Montserrat";
  color: #ffffff;
  margin-right: 60px;
  cursor: pointer;
}

.wrapper .icons {
  display: flex;
  justify-content: space-between;
  width: 120px;
}

.wrapper .tw, 
.wrapper .linkedin, 
.wrapper .inst {
  background-size: contain;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.wrapper .tw {
  background-image: url(./assets/twitter.svg);
}

.wrapper .linkedin {
  background-image: url(./assets/linkedin.svg);
}

.wrapper .inst {
  background-image: url(./assets/inst.svg);
}
